<app-title [title]="title"></app-title>
<div class="row mt-3">
  <div class="col-md-2">
    <button class="btn btn-md btn-block common-btn" data-toggle="modal"
      data-target="#create-project-modal">Create</button>
  </div>
</div>
<div class="container">
  
  <div class="row mt-5">
      <div class="card col-md-3">
          <div class="card-body" *ngFor="let project of projectList;let i = index">
              <div class="project btn btn-block btn-md common-btn" style="cursor: default;">
                  <a class="common-btn" style="font-size: 15px;" routerLink="/dashboard/project/{{project.id}}">
                  {{project.name}}
              </a>
                  <span><button class="ml-3" (click)="deleteProject(i,project)">
                      <i class="fa fa-trash" aria-hidden="true" style="font-size: 18px;"></i>
                  </button></span>
              </div>
              
          </div>
      </div>
  </div>
  
  
  <!-- create-box-modal -->
  
  <!-- Modal -->
  
  <div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="projectSubmitForm" (ngSubmit)="create()">
          <div class="modal-body">
            <div class="from-row">
              <label for="Project Name">Project Name</label>
              <input type="text" [ngClass]="{'is-invalid': submitted && formControl.projectName.errors}"
                formControlName="projectName" class="form-control col-md-6">
              <div class="invalid-feedback" *ngIf="submitted && formControl.projectName.errors?.required">
                <p>Project Name is requried</p>
              </div>
            </div>
            <div class="from-row">
              <label for="Project Type">Project Type</label>
              <select name="" id="" class="form-control col-md-6"
                [ngClass]="{'is-invalid': submitted && formControl.projectType.errors}" formControlName="projectType">
                <option *ngFor="let type of projectType" value="{{type.value}}">{{type.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && formControl.projectType.errors?.required">
                <p>Project Type is requried</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md common-btn" data-dismiss="modal">Close</button>
            <button type="submit " class="btn btn-primary btn-md common-btn"><span><i class="fa fa-check"
                  aria-hidden="true"></i></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div> 