<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="img">
                <a href="http://www.freepik.com">
                    <span hidden>Designed by macrovector / Freepik</span>
                    <img src="/assets/choose.png" alt="" style="height: 395px;">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card col-md-7 mt-5 mb-5 pt-4 pb-5">
                <div class="card-body">
                    <h4>{{header}}</h4>
                    <h5 *ngFor="let content of contents">
                        {{content}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>