@import '../../../common-styles/common.scss';
.container{
    .card{
        @include make-perfect-center;
        // background: $card-bg;
        color: $primary-bg-1;

        .card-body{
            button{
                background: $primary-bg-1;
                color: #fff;
            }
        }
    }
}