<div class="content">
    <div class="container">
      <div class="row">
        <div class="card col-md-4">
        <div class="card-body mt-5 mb-5">
              <div class="form-group" [ngStyle]="{'display': getVerificationTokenDisplayStyle()}">
                  <div class="form-row mt-3">
                    <!-- Username input -->
                    <label for="exampleForm2">Please Provide Verification Code</label>
                    <input type="number" (change)="setVerificationCode($event.target.value)"
                    class="form-control" placeholder="Enter Verification Number">
                </div>
                <button class="btn btn-sm btn-success btn-block common-btn mt-3" (click)="checkVerificationCode()">Send Reset Password Code</button>
            </div>
            <div class="form-group" [ngStyle]="{'display': getResetPasswordDisplayStyle()}">
                <div class="form-row mt-3">
                  <!-- Username input -->
                  <label for="exampleForm2">Please Provide New Password</label>
                  <input type="password" (change)="setNewPassword($event.target.value)"
                  class="form-control" placeholder="Enter New Password">
              </div>
              <button class="btn btn-sm btn-success btn-block common-btn mt-3" (click)="resetPassword()">Reset Password</button>
          </div>
        </div>
      </div>
      </div>
    </div>
    
  </div>