<app-title [title]="title"></app-title>
<div class="row mt-5">
    <div class="col-md-2">
        <app-button [buttonLink]="createProject"></app-button>
    </div>
    <div class="col-md-2">
        <app-button [buttonLink]="projectList"></app-button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <app-dashboard-card [content] = "totalProject"></app-dashboard-card>
    </div>
    <div class="col-md-6">
        <app-dashboard-card [content] = "totalInvitation"></app-dashboard-card>
    </div>
</div>