<div class="content">
    <div class="container">
      <div class="row">
        <div class="card col-md-4">
        <div class="card-body mt-5 mb-5">
            <form [formGroup]="emailFormGroup" (ngSubmit)="sendEmail()">
              <div class="form-group">
                  <div class="form-row mt-3">
                    <!-- Username input -->
                    <label for="exampleForm2">User Email</label>
                    <input type="text" class="form-control" placeholder="Please Enter Your Email"
                    [ngClass]="{'is-invalid': emailSubmitted && emailFormControl.email.errors}"
                    formControlName="email"
                    >
                    <div class="invalid-feedback" *ngIf="emailSubmitted && emailFormControl.email.errors?.required">
                      Email Is Required
                    </div>
                    <div class="invalid-feedback" *ngIf="emailSubmitted && emailFormControl.email.errors?.email">
                        Please enter an email
                      </div>
                  </div>
                </div>
                <button class="btn btn-sm btn-success btn-block common-btn" type="submit">Send Reset Password Code</button>
            </form>
        </div>
      </div>
      </div>
    </div>
    
  </div>