<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-md-6 mt-5 mb-5">
            <h3>{{header}}</h3>
            <div class="row mb-2">
                <div class="col-md-10">
                    <h4>{{headerContent}}</h4>
                </div>
            </div>
            <div class="row mt-2">
                <button class="btn btn-md btn-circle btn-primary"
                routerLink="auth/sign-up">Sign-Up It's Free</button>
            </div>
        </div>
        <div class="col-md-6">
            <a href="http://www.freepik.com">
                <span hidden>Designed by macrovector / Freepik</span>
                <img src="/assets/header-bg.png" alt="">
            </a>
        </div>
    </div>
    <!-- <div class="row mt-5"></div>
    <div class="row mt-5">
        <div class="col-md-3">
            
        </div>
    </div> -->
</div>
